.sec-mv {
    padding: 300px 0;
    background-image: url("../img/reservation/img_bg_ttl.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    width: 100%;
    height: 100vh;
    border-radius: 0 0 100px 100px;
    text-align: center;
    margin-bottom: 50px;
    animation: fadeIn 1s ease-in-out forwards;

}


.sec-mv h2 {
    font-size: 80px;
    color: #fff;
    font-style: bold;
}

/* Section Time */

.sec-time {
    padding: 100px 100px;
    color: #173979;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sec-time img {
    border-radius: 70px 0 70px 0;
    animation: fadeIn 1s ease-in-out forwards;

}

.sec-time .ttl-time {
    font-size: 50px;
    font-weight: bold;

}

.sec-time h3 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
}

.sec-time p {
    font-size: 30px;
}

.sec-time ul {
    font-size: 20px;
    padding-top: 30px;
}

.sec-time ul li {
    padding-bottom: 5px;
}

/* Section Book Table */
.sec-book {
    padding: 50px 50px;
}

.sec-book .sec-subttl {
    font-size: 30px;
    width: 200px;
    text-align: center;
    border-bottom: 10px solid #173979;
    border-top: 10px solid #173979;

    border-radius: 10px;
    border-width: 2px;
    margin: 0 auto;
    color: #173979;
    text-transform: uppercase;
    padding: 10px;
}

.sec-book .sec-ttl {
    text-align: center;
    color: #173979;
    font-size: 40px;
    padding: 50px;
}

.sec-book .book-table {
    padding: 50px 20px;
    color: #fff;
    background-color: #173979;
    border-radius: 12px;
}

.sec-book .book-table input {
    padding: 20px;
    border-radius: 4px;
    font-size: 20px;
    background-color: #173979;
    border: 1px solid #fff;
    color: #fff;
    outline-color: #fff;
    margin: 20px 0 40px 0;
    width: 300px;
    /* -webkit-text-fill-color: #fff; */

}

.sec-book .book-table label {
    font-size: 20px;
    text-align: start;
    font-family: 'Roboto';
}

.sec-book .book-table .table-upper {
    display: flex;
    justify-content: space-around;
}

.sec-book .book-table .table-lower {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sec-book .book-table .table-lower .book-btn {
    padding: 20px;
    border-radius: 4px;
    font-size: 20px;
    background-color: #173979;
    border: 1px solid #fff;
    color: #fff;
    outline-color: #fff;
    margin: 20px 0 40px 0;
    width: 300px;
    box-shadow: 0px 15px 32px rgba(0, 0, 0, 0.1);


}

.sec-book .book-table .table-lower .book-btn:hover {
    background-color: #fff;
    color: #173979;
    cursor: pointer;
}

/* Section Place */
.sec-place {
    margin: 20px auto;
    padding: 100px 100px;
    background-color: #173979;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 300px 0 20px 0;

}

.sec-place .left-col {
    width: 40%;
}

.sec-place .left-col .sec-subttl {
    font-size: 20px;
    font-weight: bold;
    color: #d1e1ff;
}

.sec-place .left-col .sec-ttl {
    font-size: 35px;
    padding: 20px 0;
    color: #fff;
}

.sec-place .left-col p {
    color: #fff;
    line-height: 1.5;
}

.sec-place .right-col {
    width: 50%;
}

@media screen and (min-width:380px) and (max-width:1180px) {
    .sec-mv {
        padding: 150px 0;
        height: 300px;
    }

    .sec-time {
        display: block;
    }

    .sec-time .time-info {
        width: 100%;
        padding-bottom: 50px;
    }

    .sec-time img {
        width: 100%;
    }

    .sec-book .book-table .table-upper {
        text-align: center;
        display: block;

    }

    .sec-book .book-table .table-lower {
        text-align: center;
        display: block;
    }

    .sec-place {
        display: block;
    }

    .sec-place .left-col {
        width: 100%;
        padding-bottom: 50px;
    }

    .sec-place .left-col {
        width: 100%;
    }
}
